body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.header h1{
  padding: 10px 20px;
  text-align: center;
}

.tree {
  width: 1000px;
  margin: 0 auto;
}

.header-tree {
  display: flex;
  align-items: center;
}

.sort-button {  
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;  
  background-color: #fff;
  cursor: pointer;
}

.sort-button:hover {
  border-color: #666;
  color: #666;
}

.search-block {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon {
  padding-left: 10px;
}

.search-input {
  padding: 5px 10px 5px 30px;
  margin-left: -25px;
  border: 1px solid #000;
  border-radius: 5px;    
  background: transparent;
}

.node {
  padding-left: 20px;
}

.node-title {
  cursor: pointer;
  border: 1px solid #fff;
}

.node-title:hover {
  border: 1px solid #666;
}

.node-icon {
  margin-left: -1em;
  transition-duration: 0.3s;
  transition-property: transform;
}

.node-icon-closed {
  transform:rotate(0deg);
}

.node-icon-open {
  transform:rotate(90deg);
}

.node-childs {
  overflow: hidden;
}

.node-childs.node-closed {
  max-height: 0;
}