body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  cursor: pointer;
}

.title:hover {
  border: 1px solid #666;
}

.icon {
  transition-duration: 0.3s;
  transition-property: transform;
}

.icon-closed {
  transform:rotate(0deg);
}

.icon-open {
  transform:rotate(90deg);
}

.childs {
  overflow: hidden;
}

.childs.closed {
  max-height: 0;
}

